<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/register" method="post">
    <label for="first-name">First Name:</label> 
    <br>
    <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
    
    <br>
    <br>
    <label for="last-name">Last Name:</label> 
    <br>
    <input type="text" name="account_lastname"  id="accountLastname" required value="<%= locals.account_lastname %>">
    
    <br>
    <br>


    <label for="email">Email Address:</label> 
    <br>
    <input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">
    
    <br>
    <br>

    <label for="password">Password:</label>
    <br>
    <input type="password" name="accountPassword" id="account_password"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required
    value="<%= locals.password_email %>">
    <br>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>

    
    <br>
    <br>
    <button type="submit" class="log-in">Register</button>

</form>

